{% extends 'base.html' %}

{% block title %}Добавить задачу{% endblock %}

{% block content %}
    <h2>Добавить новую задачу</h2>

    <form action="{{ url_for('add_task') }}" method="POST">
        <div>
            <label for="name">Название задачи:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="category">Категория:</label>
            <input type="text" id="category" name="category" required>
        </div>
        <div>
            <label for="description">Описание:</label>
            <input type="text" id="description" name="description" required>
        </div>
        <div>
            <label for="priority">Приоритет:</label>
            <input type="number" id="priority" name="priority" required min="1" max="5">
        </div>
        <div>
            <label for="status">Статус:</label>
            <input type="text" id="status" name="status" required>
        </div>
        <div>
            <button type="submit">Добавить задачу</button>
        </div>
    </form>

    <a href="{{ url_for('index') }}">Вернуться к списку задач</a>
{% endblock %}