{%  extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Список задач{% endblock %}
    </title>
</head>
{% block content %}
<h2>Список задач</h2>
<br>
<br>
<br>
<a href="{{ url_for('sort_tasks', sort_by='priority') }}">Сортировать по приоритету</a>
<br>
<br>
<a href="{{ url_for('sort_tasks', sort_by='name') }}">Сортировать по имени</a>
<br>
<br>
<a href="{{ url_for('sort_tasks', sort_by='status') }}">Сортировать по статусу</a>

<br>
<br>
<br>

<form action="{{ url_for('index') }}" method="GET">
    <input type="text" name="query" placeholder="Поиск задач...">
    <button type="submit">Искать</button>
</form>

<ul>
    {% for task in tasks %}
    <li>
        <a href="{{ url_for('task', task_id=task[0]) }}">
            {{ task[1] }} — {{ task[2] }}
        </a>
        <br>
        <br>
        <br>
        <form action="{{ url_for('delete_task', task_id=task[0]) }}" method="POST">
            <button type="submit">Удалить задачу</button>
        </form>
        <br>
        <br>
        <form action="{{ url_for('edit_task', task_id=task[0]) }}" method="GET">
            <button type="submit">Редактировать задачу</button>
        </form>
            <br>
            <br>
    </li>
    {% endfor %}
</ul>
<a href="{{ url_for('add_task') }}">Добавить задачу</a>

{% endblock %}